$main-blue: #003e6e;
$main-light-blue: #0a77c7;
$focus: #1fa069;
$focus-light: #08d17a;
$white: #fff;
$background: #f6f9ff;
$stroking: #e0e5eb;
$primary: #121f30;
$secondary: #535d6a;
$tertiary: #7f8895;
$dark-blue: #002f54;
$error: #eb5757;
$warning: #b18500;
$disabled: #b8c0cc;
