@import '../../global/styles/palette';

.breadCrumbs {
  display: flex;
  cursor: pointer;

  @media only screen and (min-width: 1024px) {
    grid-column: 1/13;
    margin-top: 24px;
  }

  @media only screen and (max-width: 1023px) {
    margin: 16px 16px 0;
    grid-column: 1/9;
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    grid-column: 2/9;
    display: grid;
    grid-template-columns: inherit;
    margin: 16px 24px 0;
  }
}

.leftBlock {
  width: 100%;
  padding: 0 16px;
  max-width: 732px;
  margin-left: auto;
  margin-right: 8px;

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    padding: 0 24px;
  }

  @media only screen and (max-width: 1023px) {
    margin-right: 0;
  }
}

.title {
  color: $primary;
  font-weight: bold;
  font-size: 24px;
  margin: 16px 0;
}

.cards {
  margin-top: 20px;
  width: 100%;
  padding-right: 24px;
  cursor: pointer;

  @media only screen and (max-width: 960px) {
    margin: 0;
    padding: 0;
  }
}

.card:last-child {
  .cardDivider {
    border: none;
    padding: 0;
    margin: 0;
  }

  &:last-child {
    margin-bottom: 50px;
  }
}

.cardDivider {
  width: 100%;
  border-bottom: 1px solid $stroking;
  padding-top: 16px;
  margin-bottom: 16px;
}

.map {
  min-width: calc(50vw - 12px);
  background-color: #badcf1;
  position: sticky;
  top: 64px;
  height: calc(100vh - 64px);

  @media only screen and (max-width: 1023px) {
    width: 100vw;
    height: calc(100vh - 112px);
    position: absolute;
    z-index: 10;
    top: 56px;
  }
}

.buttonOpenMap {
  padding: 16px 32px;
  position: fixed;
  width: 120px;
  bottom: 72px;
  text-align: center;
  left: calc(50vw - 60px);
  z-index: 15;
  background-color: $white;
  box-shadow: 0 4px 10px rgb(37 54 67 / 20%);
  border-radius: 8px;
}

.buttonOpenMapDisable {
  pointer-events: none;
  background-color: $disabled;
}

.mapIcon {
  width: 48px;
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 5;
}

.closeIcon {
  width: 48px;
  position: fixed;
  top: 90px;
  right: 20px;
  z-index: 15;
}

.pharmaciesContentContainer {
  width: 100%;
  min-height: calc(100vh - 224px);
  padding-top: 64px;
  background-color: $white;

  @media only screen and (max-width: 1023px) {
    min-height: calc(100vh - 56px);
    overflow: auto;
    padding-bottom: 56px;
    padding-top: 0;
  }
}

.pharmaciesContent {
  width: 100%;
  display: flex;

  @media only screen and (max-width: 1023px) {
    flex-direction: column;
    overflow: auto;
  }
}

.pharmaciesCount {
  color: $secondary;
  font-size: 16px;
  padding-top: 16px;
  border-top: 1px solid $stroking;
  margin: 16px 0;
}

.pharmaciesHeaderWrapper {
  position: fixed;
  width: 100vw;
  z-index: 100;
}
