@import '../../global/styles/palette';

.leftBlock {
  width: 100%;
  padding: 0 16px;
  max-width: 732px;
  margin-left: auto;
  margin-right: 8px;
}

.title {
  color: $primary;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 16px;
}

.cards {
  margin-top: 20px;
  width: 100%;
  padding-right: 24px;
  cursor: pointer;
}

.card:last-child {
  .cardDivider {
    border: none;
    padding: 0;
    margin: 0;
  }

  &:last-child {
    margin-bottom: 50px;
  }
}

.cardDivider {
  width: 100%;
  border-bottom: 1px solid $stroking;
  padding-top: 16px;
  margin-bottom: 16px;
}

.map {
  min-width: calc(50vw - 12px);
  background-color: #badcf1;
  position: sticky;
  top: 64px;
  height: calc(100vh - 64px);
}

.buttonOpenMap {
  padding: 16px 32px;
  position: fixed;
  width: 120px;
  bottom: 72px;
  text-align: center;
  left: calc(50vw - 60px);
  z-index: 15;
  background-color: $white;
  box-shadow: 0 4px 10px rgb(37 54 67 / 20%);
  border-radius: 8px;
}

.buttonOpenMapDisable {
  pointer-events: none;
  background-color: $disabled;
}

.mapIcon {
  width: 48px;
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 5;
}

.closeIcon {
  width: 48px;
  position: fixed;
  top: 90px;
  right: 20px;
  z-index: 15;
}

.shopsContentContainer {
  width: 100%;
  min-height: calc(100vh - 224px);
  background-color: $white;
}

.shopsContent {
  width: 100%;
  display: flex;
}

.shopsCount {
  color: $secondary;
  font-size: 16px;
  padding-top: 16px;
  border-top: 1px solid $stroking;
  margin: 16px 0;
}

.shopsHeaderWrapper {
  position: fixed;
  width: 100vw;
  z-index: 100;
}
