@import '../../global/styles/palette';

.main {
  grid-column: 1/13;
}

.topBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  margin-bottom: 16px;
}

.headerText {
  color: $primary;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 24px;
}

.subheaderText {
  color: $secondary;
  font-weight: normal;
  font-size: 14px;
}

.sorting {
  color: $secondary;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 288px);
  justify-content: space-between;
}

.card {
  margin-bottom: 24px;
}

.card:last-child {
  border-bottom: none;
}

.contactBannerContainer {
  margin: auto;
  max-width: 600px;
}

.notification {
  position: fixed;
  bottom: 56px;
  z-index: 600;
  max-height: 60px;
  top: 56px;
  left: calc(50vw - 425px / 2);
  width: 425px;
}
