@import '../../global/styles/palette';

.formContainer {
  display: flex;
  flex-direction: column;
  .formBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    @media only screen and (min-width: 1024px) {
      grid-column: 1/7;
    }
  }

  .deliveryBlock {
    width: 100%;
    display: grid;
    grid-column: 1/6;

    .deliveryBlockTitle {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      width: 100%;
      margin-bottom: 20px;
    }

    .w100 {
      width: 100%;
      margin-bottom: 16px;
    }

    .lineWrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .w50 {
        display: flex;
        flex-flow: column;
        flex: 0 1 50%;

        &:nth-child(1) {
          padding-right: 8px;
        }

        &:last-child {
          padding-left: 8px;
        }
      }
    }

    .saveAddressBtn {
      border: 2px solid $main-light-blue;
      border-radius: 8px;
      background-color: transparent;
      outline: none;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      padding: 10px 15px;
      max-width: 300px;
      color: $main-light-blue;
      margin: 8px 0 32px;
      cursor: pointer;
      @media only screen and (max-width: 1023px) {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .deliveryPayment2 {
    color: $primary;
    font-size: 16px;
    font-weight: 500;
  }

  .savedAddressBlock {
    width: 100%;
    display: grid;
    grid-column: 1/6;

    .addressInfo {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      position: relative;
      margin-left: 23px;

      &::before {
        content: '';
        position: absolute;
        left: -15px;
        top: 0;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        display: block;
        border: 3px solid $main-light-blue;
        border-radius: 50%;
      }
    }

    .commentInfo {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      margin-top: 15px;

      span {
        font-size: 16px;
        line-height: 20px;
        color: $secondary;
      }
    }

    .editAddressBtn {
      border: none;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: $main-light-blue;
      margin: 15px 0 30px;
      max-width: 121px;
      padding: 0;
    }
  }
  @media only screen and (min-width: 1024px) {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: inherit;
  }
}

.label {
  color: $secondary;
  margin-bottom: 8px;
}

.label.error {
  margin: 8px 0 0;
  color: $error;
  font-size: 14px;
}

.formBlock.formInput {
  @media only screen and (min-width: 1024px) {
    grid-column: 1/6;
  }
}

.input {
  outline: none !important;
  border: 1px solid $stroking;
  border-radius: 4px;
  color: $primary !important;
  padding: 10px 12px;
}

.input:active,
.input:focus {
  border: 1px solid $main-light-blue;
}

.input::placeholder {
  color: $tertiary;
}

.input.error {
  background-color: rgb($error, 0.05);
  border: 1px solid $error;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.formBlock.delivery,
.formBlock.payment {
  @media only screen and (min-width: 1024px) {
    grid-column: 1/5;
  }
}

.label.delivery,
.label.payment {
  //margin-bottom: 16px;
  margin-bottom: 12px;
}

.deliveryBlock {
  .input.error {
    margin-bottom: 0;
  }
  .label.error {
    margin-bottom: 16px;
  }
}

.addressButton {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 10px 45px;
  color: $main-light-blue;
  border: 2px solid $main-light-blue;
  border-radius: 8px;
  @media only screen and (min-width: 1024px) {
    width: fit-content;
  }
}

.addressIcon {
  width: 24px;
  margin-right: 8px;
}

.paymentBlock {
  display: flex;
  align-items: center;
}

.paymentIcon {
  width: 32px;
  margin-right: 8px;
}

.bottomBlock {
  margin-top: auto;
  position: sticky;
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 1024px) {
    grid-column: 1/7;
  }
}

.submitButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 12px 24px;
  background-color: $main-light-blue;
  color: $white;
  border-radius: 8px;
  font-size: 18px;
  border: none;
  @media only screen and (min-width: 1024px) {
    width: fit-content;
    // v2
    margin-top: 0;
  }
}

.addressInput {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  img {
    margin-top: 13px;
    padding-right: 13px;
    position: absolute;
    cursor: pointer;
  }
}

.deliveryText {
  color: $secondary;
  line-height: 20px;
  margin: 20px 0 -10px;
  font-weight: 500;
  @media only screen and (min-width: 1024px) {
    width: 520px;
  }
}

//v2
.agreementContainer {
  @media only screen and (min-width: 1024px) {
    grid-column: 1/6;
  }
  margin-bottom: 32px;
}

.checkboxContainer {
  display: flex;

  .checkbox {
    margin-top: -12px;
    svg {
      margin: -30px 0 0 -10px;
      width: 20px;
      height: 20px;
      path {
        fill: $stroking;
      }
    }
  }

  .accept {
    font-size: 16px;
    a {
      color: $main-light-blue;
      cursor: pointer;
    }
  }
}

.errorCheckbox {
  color: $error;
  margin-top: 8px;
  font-size: 14px;
}

.addedContainer {
  //position: relative;
}

.errorTooltip {
  background-color: #f6f9ff;
  filter: drop-shadow(0px 1px 8px rgba(0, 58, 136, 0.15));
  border-radius: 4px;
  color: #121f30;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
  position: absolute;
  top: -43px;
  white-space: nowrap;
}
