@import '../../global/styles/palette';

.mainContainer {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: inherit;
}

.contentContainer {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: inherit;
}

.header {
  margin-bottom: 16px;
  grid-column: 1/13;
}

.headerText {
  color: $primary;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 24px;
}

.subheaderText {
  color: $secondary;
  font-weight: normal;
  font-size: 14px;
}

.cartContainer {
  grid-column: 1/9;
  background-color: $white;
  margin-bottom: 80px;

  .card {
    border-bottom: 1px solid $stroking;
  }

  .card:first-child {
    border-top: 1px solid $stroking;
  }

  .card:empty {
    display: none;
  }
}

.deliveryPayContainer {
  grid-column: 10/13;
}

.contactBannerContainer {
  grid-column: 1/7;
}

.findButton {
  margin-top: 16px;
  grid-column: 1/1;
}
