@import '../../global/styles/palette';

.shopContainer {
  padding: 24px;
}

.shopHeader {
  display: flex;
  justify-content: space-between;
}

.headerInfoBlock {
  display: flex;
  flex-direction: column;
}

.headerMainInfoBlock {
  display: flex;
  align-items: center;
}

.shopName {
  margin-left: 12px;
  font-size: 20px;
  color: $primary;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.shopLocationWrapper {
  display: flex;
  margin-left: 29px;
  align-items: center;
  cursor: pointer;
}

.shopLocationText {
  margin-left: 9px;
  font-size: 16px;
  color: $main-light-blue;
}

.priceContainer {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  color: $primary;
  justify-content: flex-end;
}

.priceCurrency {
  margin-left: 5px;
}

.superscript {
  vertical-align: super;
}

.economyContainer {
  font-size: 16px;
  font-weight: 500;
  color: $focus;
  width: max-content;
  margin-left: 16px;
}

.additionalInfoContainer {
  margin-top: 16px;
}

.shopAddress {
  font-size: 16px;
  color: $primary;
}

.shopDescription {
  margin-top: 8px;
  font-size: 14px;
  color: $secondary;
}

.availabilityBlock {
  margin-top: 16px;
}

.available {
  font-weight: bold;
  color: $focus;
}

.unavailable {
  font-weight: bold;
  color: $error;
}

.orderButton {
  margin-top: 24px;
  width: fit-content;
}

.selectedCard {
  background-color: $background;
}
