@import '../../global/styles/palette';

.modalContainer {
  background-color: $white;
  overflow: hidden;
  position: fixed;
  width: max-content;
  z-index: 300;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgb(144 154 170 / 30%);
}

.modalContent {
  padding: 0 64px 56px 64px;
  max-height: 90vh;
  overflow: auto;
}

.modalHeader {
  padding: 16px;
  display: flex;
  justify-content: flex-end;

  img {
    cursor: pointer;
  }
}

.modalBackdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 290;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-color: $primary;
  opacity: 0.3;
}
