@import 'styles/palette';

.addressesSearchContainer {
  position: relative;

  .addressesItemContainer {
    position: absolute;
    margin-top: -8px;
    width: 100%;
    max-height: 212px;
    z-index: 1000;
    overflow-y: auto;
    background-color: $white;
    box-shadow: 3px 12px 41px -17px rgba(0, 0, 0, 0.5);

    &::-webkit-scrollbar-thumb {
      background-color: $stroking;
      border-radius: 1px;
      margin-right: 8px;
    }

    &::-webkit-scrollbar {
      width: 4px;
      height: 30px;
    }

    .addressesItem {
      padding: 16px;
      cursor: pointer;
      &:hover {
        background: $background;
      }
    }
  }
}
