@import '../../global/styles/palette';

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1/13;
}

.mainTitle {
  margin-top: 56px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  max-width: 650px;
  color: $primary;
}

.searchBarContainer {
  width: 650px;
  margin-top: 32px;
}
