@import '../../global/styles/palette';

.mainContainer {
  width: 100%;
  height: 100%;
}

.infoWindowContainer {
  .shopName {
    font-size: 18px;
    color: $primary;
    font-weight: 500;
    margin-bottom: 6px;
  }
  .shopAddress {
    color: $primary;
    margin-bottom: 4px;
  }
  .shopSchedule {
  }
}

.placeMark {
  color: $white !important;
  width: max-content;
  padding: 5px 12px;
  border-radius: 7px;
  margin-left: -15px;
  margin-top: -15px;
  background-color: $focus;
}
.placeMarkMissing {
  background-color: $error;
}
